<!DOCTYPE html>
<html>
<head>
  <title>Course</title>
</head>
<body>
	<div class="page-header">
	<h1><%= @course.name %> <small><%= @course.description %></small></h1>
	<% @posts.each do |p| %>
		<div class="well">
			<h3>Submitted By: <%= link_to p.user.name, user_path(p.user) %></h3>
			<h3><%= link_to p.title, post_path(p) %></h3>
			<p><%= p.content %></p>
		</div>
	<% end %>
	<% if current_user.present? %>
		<%= button_to "New Post", new_post_path(@course) %>
	<% end %>
	</div>
</body>
</html>

