<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/hover.css" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<a class="selected" data-menu="index">
		<section id="splash">
			<div class="splash">
				<div class="container">
					<div id="container-wrap">
						<h2 class="hvr-grow splash-titles">Real Students</h2>
						<h2 class="hvr-grow splash-titles">Real Courses</h2>
						<h2 class="hvr-grow splash-titles">Real Advice</h2>
						<a href="#about" style="color: black"><p class="nextpage-black"><span class="glyphicon glyphicon-chevron-down hvr-hang nextpage" aria-hidden="true"></span></p></a>
					</div>
				</div>
			</div>
		</section>
	</a>	

	<a name="about" class="not-selected"></a>
		<section id="about">
			<div class="about-header">
				<div class="container">
					<u><h1>How does Fuby work?</h1></u>
					<p><font size='5'>Fuby was made to help students like you get advice on courses at their school from other students with first-hand experiene. Fuby allows you to get the answers you need, whether you're figuring out your schedule for next semester, networking with other students in your class, or just getting some tips before jumping into a new course.</p>
						<p>We wanted to make Fuby something that's quick and easy to use (we know how busy college can get). After you set up your account with your email and little bit of basic information, you'll have access to all schools and courses you are curious about. courses are divided up by subject, and each course has its own page with previous posts and comments. Look to see if any posts answer your question, or make a new one to suit your needs.</p>
						<p>Sign up now, it's quick and free!.</font></p>

					<a href="#colleges" style="color: white"><p class="nextpage-white"><span class="glyphicon glyphicon-chevron-down hvr-hang nextpage" aria-hidden="true"></span></p></a>
				</div>
			</div>
		</section>
	
	<a name="colleges" class="not-selected"></a>
		<section id="college">
			<div class="colleges">
				<div class="container">
					<div id="college-header">
						<h2 style="font-size: 60px">Our Supported Colleges</h2>
						<h4 style="font-size: 25px; padding-top: 0; font-weight:100px">With more to come
					</h4>

					<div class="row">
						
						<a href="/colleges/1" ><div id="cal" class="col-md-4">
							<div class="cal">
								<div id="cal-overlay">
									<span class="cal-logo">CAL</span>
								</div>
							</div>
						</div></a>

						<a href="/colleges/2" ><div id="UCLA" class="col-md-4">
							<div class="UCLA">
								<div id="UCLA-overlay">
									<span class="UCLA-logo">UCLA</span>
								</div>
							</div>
						</div></a>

						<a href="/colleges/3" ><div id="USC" class="col-md-4">
							<div class="USC">
								<div id="USC-overlay">
									<span class="USC-logo">USC</span>
								</div>
							</div>
						</div></a>

					</div>

				</div>
			</div>
		</section>

	<a name="signup" class="not-selected"></a></a><	
	<section id="Signup">
		<div class="about-header">
			<div class="container">
				<div class="sign">
					<h2></h2>

					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
					  </div>
					  <div class="panel-body">
					    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
					     <div class="form-group">
					        <%= f.label :name %>
					        <%= f.text_field :name, class: "form-control" %>
					      </div>
					      <div class="control-group">
					        <%= f.label "Year", class: "control-label" %>
					        <div class="controls">
					        <%= f.select(:year, options_for_select([["Freshman", "Freshman"], ["Sophomore", "Sophomore"], ["Junior" ,"Junior"], ["Senior", "Senior"]])) %>
					        </div>
					      </div>
					      <div class="control-group">
					        <%= f.label "School", class: "control-label" %>
					        <div class="controls">
					        <%= f.select(:school_type, options_for_select([["UC Berkeley", "UC Berkeley"], ["University of Southern California", "University of Southern California"], ["UC Los Angeles", "UC Los Angeles"]])) %>
					        </div>
					      </div>
					      <div class="form-group">
					        <%= f.label :major %>
					        <%= f.text_field :major, class: "form-control" %>
					      </div>
					      <div class="form-group">
					        <%= f.label :email %>
					        <%= f.email_field :email, class: "form-control" %>
					      </div>
					      <div class="form-group">
					        <%= f.label :password %><br />
					        <%= f.password_field :password, class: "form-control" %>
					      </div>
					      <div class="form-group">
					        <%= f.label :password_confirmation %>
					        <%= f.password_field :password_confirmation, class: "form-control" %>
					      </div>
					      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
					    <% end %>
					  </div>
					</div>

				</div>


			</div>
		</div>
	</section>


	<nav class="navbar navbar-default" style="margin-bottom:0; height:30px">
	  <div  class="container-fluid">
	  	<h6 style="text-align: center">© Fuby inc.</h6>
	  </div>
	</nav>	

</body>
</html>
