<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/hover.css" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
  <title>Course</title>
</head>
<body>
<div style="font-size:25px; margin-bottom:0; border:0" class="jumbotron">
	<p><span class="glyphicon glyphicon-user"></span>
	<%= @user.name %>
	<p><span class="glyphicon glyphicon-flag"></span>
	<%= @user.school_type %></p>
	<p><span class="glyphicon glyphicon-link"></span>
	<%= @user.major %></p>
	<p><span class="glyphicon glyphicon-tag"></span>
	<%= @user.year %></p>
</div>
<div style="margin-top: 0;" class="page-header" id="comments">
	<div style="background-color:#75A9BA; color:white; margin-bottom:0px; padding-top:0; padding-bottom:.5em" class="well"><h3 style="font-size:20px"> <%= @user.name %> | History</h3></div>
		<% @posts.each do |p| %>
			<div id="comment-well" class="well">
				<p><strong><span style="font-size:20px">Course:</span></strong> <%= link_to p.course.name, course_path(p.course) %></p>
				<p><strong><span style="font-size:20px">Title:</span></strong> <%= link_to p.title, post_path(p) %></p>
				<div style="background-color: white" class="well"><p><%= p.content %></p></div>
			</div>
		<% end %>
	</div>
</body>
</html>

