<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/hover.css" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
  <title>Course</title>
</head>
<body>
<div style="font-size:30px" class="jumbotron">
	<p><span class="glyphicon glyphicon-user"></span>
	<%= @user.name %>
	<p><span class="glyphicon glyphicon-flag"></span>
	<%= @user.school_type %></p>
	<p><span class="glyphicon glyphicon-link"></span>
	<%= @user.major %></p>
	<p><span class="glyphicon glyphicon-tag"></span>
	<%= @user.year %></p>
</div>
<div class="page-header">
	<div style="background-color:#66b2ff; color:white" class="well"><h3> <%= @user.name %>: post history</h3></div>
		<% @posts.each do |p| %>
			<div class="well">
				<h4>Course name: <%= link_to p.course.name, course_path(p.course) %></h4>
				<h4>Title: <%= link_to p.title, post_path(p) %></h4>
				<div style="background-color: white" class="well"><p><%= p.content %></p></div>
			</div>
		<% end %>
	</div>
</body>
</html>

